.app.dark {
    --background: linear-gradient(#272640, #270227);
    --blocksBorder: #F4ACC4;
    --first-icon-color: #F4ACC4;
    --second-icon-color: #FF4C2B;
    --iconGradient: linear-gradient(#FF4C2B, #F4ACC4);
    --fontColor: #F4ACC4;
}