.app.light {
    --background: #F5F5F5;
    --blocksBorder: #ABABAB;
    --first-icon-color: #00B1D2;
    --second-icon-color: #6C54A3;
    --iconGradient: linear-gradient(#6C54A3, #00B1D2);
    --fontColor: #233155;
}