.app.dark {
    --background: linear-gradient(#272640, #270227);
    --blocks-border: #F4ACC4;
    --first-icon-color: #F4ACC4;
    --second-icon-color: #FF4C2B;
    --icon-gradient: linear-gradient(#FF4C2B, #F4ACC4);
    --font-color: #F4ACC4;
}