.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--blocks-border);
    padding: 8px 16px;
}

.leftActions {
    display: flex;
    column-gap: 24px;
}