.iconButton {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.medium {
    width: var(--medium-icon-size);
}

.small {
    width: var(--small-icon-size);
}
