.link {
    display: flex;
    column-gap: 16px;
    font-family: Rounded, sans-serif;
    font-size: var(--h4-size);
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
}
